.switchtoggle.win-toggleswitch.win-off .win-label:before
{
    content: "\E07D";
    color: gray;
    font-weight: normal;
}

.switchtoggle.win-toggleswitch.win-on .win-label:before
{
    content: "\E07D";
    color: green;
    font-weight: normal;
}

.switchtoggle.win-toggleswitch.win-lavel .win-label:before
{
    content: "";
    color: lightgreen;
    font-weight: normal;
}

.switchToggleOffline {
    border: 1px solid red;
}


div.agotext, p.tempname {
    margin:5px;
    height: 15px;
}

p.light {
}

p {
   /* 
   //transform: scale(1.1);
   //transform-origin: 30% 30%;
   */
}

td.switchcell {
    vertical-align: top;
}

#imgLogo {
    width: 5%;
    height: 5%;
}


/* ==== Header ==== */
#header {
    width: 100%;
    overflow: hidden;
}

#headerText {
    float: left;
    margin-left: 10px;
}

#warnings {
    margin: 0 auto;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    display:inline-block
}

#clockAndLoadingRingDiv {
    float: right;
}

#loading-ring {
    margin-right: 50px;
}

.win-ring {
    margin-top: 10px
}


#clock {
    float: right;
    margin-right: 10px;
}

/* Content Area */
#contentArea {
    width: 100%;
    margin-top: 2px;
    text-align: center;
}


#endpointstable{
    display:inline-block;
    margin: 30px auto;
}


div.section {
    margin-left: 35px;
    float: left;
    text-align: left;
}

label.sectionhead {
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
}

div.tempholder {
    text-align: center;
    width: 215px;
    height: 130px;
    margin: 4px;
}
div.tempfigure {
    width: 100%;
    text-align: center;
    margin:0px;
    text-align: center;
}

.batteryIconHolder {
    float: left;
    margin-top: 20px;
    width: 32px;
    height: 32px;
}

.batteryIcon {
    width: 100%;
    height: 100%;    
}

.connectorIcon {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 5px;  
}


#temps {
    height: 626px;
    overflow-x: auto;
    -ms-overflow-style: none;
}


/* Blink effect */
.blinking{
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;    
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* END BLINKING */

/* FOOTER */
#footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}

#buttonholder {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

#infoHolder {
    text-align: center;
}



#colorWheel {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 96px;
    width: 96px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-image: url("../images/remote_controller.png");
    background-size: 96px; 
}

/* Media Screens*/
@media screen and (max-device-width: 800px) and (orientation: portrait){
    #onoffDiv {
        margin-top: 60px;
        margin-left: 30px;
    }
}

@media (min-height:1080px) {
    #temps {
        height: 100%;
    }
} 

/* The Color Controller */

#irContainer {
    position: absolute;
    z-index: 1000;
    left: 50%;
	width: 490px;
	height: 580px;
    margin-left: -245px;
	overflow: hidden;
	text-align: center;
	background-color: #3B3738;
    border-top-right-radius: 12%;
    border-top-left-radius: 12%;
    bottom: 0;
}


.cButton {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 5px;
}

a.cButton { 
	text-decoration: none;
	font-family: arial;
	font-size: 25px;
	color: black;
	font: bold 1.7em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.cButton:hover { 
	opacity: 0.7;
} 

/* RED BUTTONS */
#redDiv {
	height: 100%;
	width: 100px;
	margin: 10px;

}

#red1 {
	border: 1px solid red;
	background-color: red;
}

#red2 {
	border: 1px solid #E82C0C;
	background-color: #E82C0C;
}

#red3 {
	border: 1px solid #FF530D;
	background-color: #FF530D;
}

#red4 {
	border: 1px solid #FF9C18;
	background-color: #FF9C18;
}

#red5 {
	border: 1px solid #FFD710;
	background-color: #FFD710;
}

/* END OF RED BUTTONS*/

div#redDiv, div#greenDiv {
	float: left;
}

/* GREEN BUTTONS */

#greenDiv{
	height: 100%;
	width: 100px;
	margin: 10px;
}

#green1 {
	border: 1px solid #0EFF15;
	background-color: #0EFF15;
}

#green2 {
	border: 1px solid #29D15A;
	background-color: #29D15A;
}

#green3 {
	border: 1px solid #2DD192;
	background-color: #2DD192;
}

#green4 {
	border: 1px solid #176B5C;
	background-color: #176B5C;
}

#green5 {
	border: 1px solid #0F4545;
	background-color: #0F4545;
}

/* END OF GREEN BUTTONS */

div#green, div#blue {
	float: left;
}

/* BLUE BUTTONS */
#blueDiv {
	height: 100%;
	width: 100px;
	margin: 10px;
}

#blue1 {
	color: white;
	border: 1px solid #0F13A3;
	background-color: #0F13A3;
}

#blue2 {
	border: 1px solid #174EFF;
	background-color: #174EFF;
}

#blue3 {
	border: 1px solid #020B29;
	background-color: #020B29;
}

#blue4 {
	border: 1px solid #5C11B2;
	background-color: #5C11B2;
}

#blue5 {
	border: 1px solid #DB38D6;
	background-color: #DB38D6;
}

/* END OF BLUE BUTTONS */

div#blueDiv, div#whiteDiv {
	float: left;
}


/* WHITE BUTTONS */
#whiteDiv {
	height: 100%;
	width: 100px;
	margin: 10px;
}

#white1 {
	border: 1px solid black;
	background-color: white;
}

#white2 {
	border: 1px solid black;
	background-color: #919086;
}

#white3 {
	border: 1px solid black;
	background-color: #919086;
}

#white4 {
	border: 1px solid black;
	background-color: #919086;
}

#white5 {
	border: 1px solid black;
	background-color: #919086;
}

/* END OF WHITE BUTTONS */


